<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Amplify</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
    <link href="~/css/custom-tabulator.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/assets/css/sidebar.css" rel="stylesheet" />
    @*  <link href="~/assets/css/loader.css" rel="stylesheet" /> *@
</head>
<body class="">
    <!-- [ Pre-loader ] start -->
    <div class="overlay" id="overlay">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <nav class="pcoded-navbar navbar-collapsed">
        <partial name="_sidebarPartial.cshtml" />
    </nav>

    <partial name="_headerPartail.cshtml" />

    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <partial name="_admintBredCurmPartial.cshtml" />
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/js/vendor-all.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/pcoded.js"></script>
    <!-- Tabulator JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
  @*   <script src="~/assets/js/plugins/apexcharts.min.js"></script>
    <script src="~/assets/js/pages/dashboard-main.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/CommonController.js"></script>
    <script src="~/js/StorageService.js"></script>
    <script src="~/js/ConnectivityController.js"></script>
    <script src="~/lib/xlsx/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(window).on('load', function () {
            $(".se-pre-con").hide();
        });

        $(document).ajaxStart(function () {
            $(".se-pre-con").show();
        });

        $(document).ajaxComplete(function () {
            $(".se-pre-con").hide();
        });
    </script>
</body>
</html>
