<div class="card-header card-header-padding">
    <div class="float-left">
        <span id="addBtn" class="padding-rigt custom-cursor">
            <i class="fa fa-plus-circle" title="add"></i>
        </span>
        <span id="editBtn" class="padding-rigt custom-cursor">
            <i class="fa fa-pencil" title="edit"></i>
        </span>
        <span id="deleteBtn" class="padding-rigt custom-cursor"><i class="fa fa-trash" title="delete"></i></span>
        <span id="copyBtn" class="padding-rigt custom-cursor"><i class="fa fa-plus-square-o " title="copy"></i></span>
        <span id="permissionBtn" class="custom-cursor permission-hidden"><i class="fa fa-key" title="manage permissions"></i></span>
        <span id="campaignBtn" class="custom-cursor permission-hidden"><i class="fa fa-key" title="manage campaign"></i></span>
        <span id="dealerBtn" class="custom-cursor permission-hidden"><i class="fa fa-key" title="manage dealer"></i></span>
    </div>
    <div class="float-right">
        <span id="pdfBtn" class="custom-cursor padding-right">
            <i class="fa-solid fa-file-pdf permission-hidden" title="pdf" id="tenantDealerDetailInfoPDF"></i>
        </span>
        <span id="importBtn" class="custom-cursor padding-right">
            <i class="fa fa-upload" title="import"></i>
        </span>
        <span id="exportBtn" class=" custom-cursor" data-toggle="dropdown">
            <i class="fa fa-download" title="export"></i>
        </span>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" id="exportTemplate">Export Template</a>
            <a class="dropdown-item" href="#" id="exportWithGridData">Export with Grid Data</a>
            <a class="dropdown-item" href="#" id="exportWithOriginalData">Export with Original Data</a>
        </div>
    </div>
</div>