<div class="navbar-wrapper  ">
    <div class="navbar-content scroll-div ">

        <partial name="_userProfileSidebarPartial.cshtml" />

        <partial name="_dynamicSideBarPartial.cshtml" />
    </div>
</div>