<form id="AddEditConsulationForm">
    <div class="sidebar" id="sidebar">
        <div class="modal-header">
            <h5 class="modal-title">Add/Edit Consulation</h5>
            <button type="button" class="close" id="closeSidebar" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="TenantName">Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="TenantName" placeholder="Enter name" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label for="TenantCode">Code</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-qrcode"></i></span>
                    </div>
                    <input type="text" class="form-control" id="TenantCode" placeholder="Enter code" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label for="Logo">Logo Url</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-google"></i></span>
                    </div>
                    <input type="text" class="form-control" id="Logo" placeholder="Enter logo url" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label for="TenantWebsite">Website</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-globe"></i></span>
                    </div>
                    <input type="text" class="form-control" id="TenantWebsite" placeholder="Enter website url" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label for="Location">Location</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa  fa-map-marker-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" id="Location" placeholder="Enter location" autofocus required>
                </div>

            </div>
            <div class="form-group">
                <label for="Address">Address</label>
                <input type="text" class="form-control" id="Address" placeholder="Enter  address" autofocus required>
            </div>
            <div class="form-group">
                <label for="ContactName">Contact Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="ContactName" placeholder="Enter contact name" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label for="ContactPhone">Contact Phone</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-mobile-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" id="ContactPhone" placeholder="Enter contact phone" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label for="Options">Options</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-mobile-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" id="Options" placeholder="Enter Options" autofocus required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="btnsubmit" class="btn btn-primary" form="AddEditConsulationForm">Submit</button>
        </div>
    </div>
</form>