@{
    ViewData["Title"] = "Doctor Area";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <partial name="~/Views/Shared/_gridHeaderPartial.cshtml" />
            <div class="card-body card-body-padding">
                <div id="consulationGrid">
                </div>
            </div>
        </div>
        <partial name="_addEditConsulationPartial.cshtml" />
    </div>
    <partial name="~/Views/Shared/_dagAndDropFilesPartial.cshtml" />
    <partial name="~/Views/Shared/_copyConfirmPartial.cshtml" />
    <partial name="~/Views/Shared/_deleteConfirmPartial.cshtml" />
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/DoctorDashboardController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl = new DoctorDashboardController();
        ctrl.init();
    });
</script>