<form id="AddEditUserForm">
    <div class="sidebar" id="sidebar">
        <div class="modal-header">
            <h5 class="modal-title">Add/Edit User</h5>
            <button type="button" class="close" id="closeSidebar" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="FirstName" placeholder="Enter first name" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label for="LastName">Last Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="LastName" placeholder="Enter last name" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="text" class="form-control" id="Email" placeholder="Enter email" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label for="Phone">Phone</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                    </div>
                    <input type="text" class="form-control" id="Phone" placeholder="Enter phone" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" id="Password" placeholder="*********" autofocus required>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-eye-slash"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="RoleId">Role</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa  fa-user-clock"></i></span>
                    </div>
                    <select id="RoleId" class="form-control custom-select" autofocus required></select>
                </div>
            </div>
            <div class="form-group tenantOrDealerSection" id="tenantSection">
                <label for="TenantId">Tenant</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa  fa-car"></i></span>
                    </div>
                    <select id="TenantId" class="form-control custom-select"></select>
                </div>
            </div>
            <div class="form-group tenantOrDealerSection" id="dealerSection">
                <label for="DealerId">Dealer</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa  fa-car"></i></span>
                    </div>
                    <select id="DealerId" class="form-control custom-select"></select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="btnsubmit" class="btn btn-primary" >Submit</button>
        </div>
    </div>
</form>
